{% extends 'hospital/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}

<head>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, #0072ff, #8811c5);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control {
      border-radius: 1.5rem;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #0062cc;
      color: #fff;
    }

    .menu {
      top: 50px;
    }
  </style>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<br><br>
<!------ add appointment page by admin(sumit)  ---------->
<form method="post">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>Book Appointment Details</p>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-label">Symptom</label>
              {{ appointmentForm.symptom|add_class:"form-control" }}
            </div>

            <div class="form-group">
              <label class="form-label">Doctor</label>
              {{ appointmentForm.doctorId|add_class:"form-control" }}
            </div>

            <div class="form-group">
              <label class="form-label">Appointment Date</label>
              <input type="date" name="appointmentDate" class="form-control" placeholder="Select Appointment Date">
            </div>

            <div class="form-group">
              <label class="form-label">Gender</label>
              <select name="gender" class="form-control">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label">Age</label>
              {{ appointmentForm.age|add_class:"form-control" }}
            </div>

            <div class="form-group">
              <label class="form-label">Neighbourhood</label>
              {{ appointmentForm.neighbourhood|add_class:"form-control" }}
            </div>

            <div class="form-group">
              <label class="form-label">Scholarship</label>
              <select name="scholarship" class="form-control">
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label">Hypertension</label>
              <select name="hypertension" class="form-control">
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label">Diabetes</label>
              <select name="diabetes" class="form-control">
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label">Alcoholism</label>
              <select name="alcoholism" class="form-control">
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label">Handicap</label>
              <select name="handicap" class="form-control">
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>

          </div>
        </div>
        <button type="submit" class="btnSubmit">Book</button>
      </div>
    </div>
  </div>
</form>



{% endblock content %}



{% comment %} <div class="row">
  <div class="col-md-12">
    <div class="form-group">
      {% render_field appointmentForm.description class="form-control" placeholder="Description" %}
    </div>
    <div class="form-group">
      {% render_field appointmentForm.doctorId class="form-control" placeholder="doctor" %}
    </div>
    <div class="form-group">
      {% render_field appointmentForm.patientId class="form-control" placeholder="patient" %}
    </div>

  </div>

</div> {% endcomment %}